@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap');

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h2 {
  font-family: 'Shrikhand', serif;
  font-size: 3rem;
  margin-top: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.portfolio-item-container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}


.portfolio-item-preview {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 2rem;
}

.portfolio-item-preview + .portfolio-item-preview {
  margin-top: 3rem;
}

.portfolio-item-preview:nth-of-type(2n) {
  grid-template-columns: 4fr 5fr;
}

.portfolio-item-preview:nth-of-type(2n) :first-child {
  grid-column: 2;
  grid-row: 1;
}

.item-image {
  padding-right: 2rem;
}

